body {
 background-color: beige; 
}

h3{
  color:black;
      font-size: 250%;
    text-decoration-line: overline underline ;
  text-shadow: 1px 12px 10px;
  letter-spacing: 10px;
  font-style: oblique;
}
img{
  width: 100px;
}
